.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.js-clock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 250px;
}

#js-btn {
	padding: 10px;
	color: white;
	background-color: black;
	border: none;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
}

ul li {
	margin: 50px;
}

ul li a {
	color: black;
	text-decoration: none;
}

ul li a:visited {
	color: black;
}

ul li a:hover {
	color: grey;
}

i {
	font-size: 100px;
}
